.exr-panel {
    margin: 1em auto 1em;
}


.exr-panel input[type=button] {
    margin-right: 1em;
    padding: 4px;
}


textarea.exr-console {
    width: 100%;
    color: #FFF;
    background-color: #333;
}


table.exr-table {
    border-collapse: collapse;
}


table.exr-table th {
    color: #FFF;
    background-color: #333;
}


table.exr-table th,
table.exr-table td {
    border: 1px solid #000;
    padding: 2px;
}
